.App {
  text-align: center;
  border: 2px solid black;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.imageMe {
  height: 300px;
  width: 250px;
}
.paragraphe {
  font-size: 18px;
  font-family: "Times New Roman", serif;
  line-height: 1.6;
  margin: 5px auto;
  width: 60%;
  color: #111;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.skill {
  border-radius: 5px;
  font-weight: bold;
  padding: 4px;
}
